<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../style/styles.css">
    <link rel="shortcut icon" href="../Assets/images/icon.png">
</head>
<body>
    <header>
        <div class="title">
            <h1>Diseño <span class="blueTitle">Multimedia</span></h1>            
        </div>
        <div class="navigator">
            <nav>
                <a class="inicio-contacto" href="../index.html">Inicio</a>
                <a class="nosotros-contacto" href="nosotros.html">Nosotros</a>
                <a class="servicios-contacto" href="servicios.html">Servicios</a>
                <a class="contacto-contacto" href="contacto.html">Contacto</a>
            </nav>
        </div>
    </header>

    <div class="subscribe-NOSOTROS">

        <div class="text">
            <h2>Subscríbete a nuestro boletín</h2>  
        </div>

        <div class="email">
            <input class="input" type="text" name="email" placeholder="Ingresa tu Email..." required>
            <button class="btn" type="submit">Subscríbete</button>
        </div>

    </div>

    <div class="contacto-content-padre">
        <div class="contact-form">
                <h2>Contacto</h2>
                <form action="#" method="post">
                    <label for="name">Nombre:</label><br>
                    <input type="text" name="nombre" id="name" placeholder="Ingresa tu Nombre: " required>
                    
                    <label for="email">Email: </label><br>
                    <input type="email" name="email" id="email" placeholder="Ingresa tu Email: " required>
                    
                    <label for="tel">Telefono:</label><br>
                    <input type="tel" name="telefono" id="tel" placeholder="Ingresa tu Teléfono" required>
                    
                    <label for="cel">Celular:</label><br>
                    <input type="tel" name="celular" id="cel" placeholder="Ingresa tu Celular" required>
                    
                    <label for="message">Mensaje:</label><br>
                    <textarea name="mensaje" id="message" required></textarea>
                    
                    <button type="submit">Enviar</button>
                </form>
        </div>
        
        <div class="div-2">
            <div class="que-hacemos">
                <h2>Que Hacemos</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Quibusdam dignissimos excepturi ad voluptatem numquam velit, 
                    quis provident tempora laborum dolorem distinctio aperiam quod vel 
                    perferendis, placeat doloribus saepe modi consectetur.
                </p>
            </div>

            <div class="mapa-container">
                <img src="../Assets/images/mapaGoogle.png" alt="map">
            </div>

        </div>

        

    </div>

</body> 

<footer>
        <p>Graphel Desarrollo Web, CopyRight © 2024</p>
</footer>

</html>