<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../style/styles.css">
</head>
<body>
    <header>
        <div class="title">
            <h1>Diseño <span class="blueTitle">Multimedia</span></h1>            
        </div>
        <div class="navigator">
            <nav>
                <a class="inicio" href="../index.html">Inicio</a>
                <a class="nosotros" href="nosotros.html">Nosotros</a>
                <a class="servicios" href="servicios.html">Servicios</a>
                <a class="contacto" href="contacto.html">Contacto</a>
            </nav>
        </div>
    </header>
    
    <div class="imagen-cabecera-contenedor">
        <img class="imagen-cabecera" src="../Assets/images/cabecera.jpg" alt="computer">
        
        <div class="texto-imagen">
            <h1>Expertos En Tecnologías Web</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione adipisci aut dicta rerum enim odio libero quod, eos ut officiis esse. <br>
                   Sapiente ad eius debitis voluptatem officia nisi dolore voluptate.
                </p>
        </div>
    </div>

    <div class="subscribe">

        <div class="text">
            <h2>Subscríbete a nuestro boletín</h2>  
        </div>

        <div class="email">
            <input class="input" type="text" name="email" placeholder="Ingresa tu Email..." required>
            <button class="btn" type="submit">Subscríbete</button>
        </div>

    </div>

    <div class="trilogy">

        <div class="html">
            <img src="../Assets/images/logo_html.png" alt="html5">
            <h2>HTML5</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
                 Tempore, consequatur porro! Quia, at! <br>
                 Ducimus dolorem, est asfaji.</p>
        </div>

        <div class="css">
            <img src="../Assets/images/logo_css.png" alt="css3">
            <h2>CSS3</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
                 Tempore, consequatur asfaji! Quia, at! <br>
                 Ducimus dolorem, est asfaji.</p>
        </div>

        <div class="diseño-grafico">
            <img src="../Assets/images/logo_brush.png" alt="Diseño-grafico">
            <h2>Diseño Grafico</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
                 Tempore, consequatur asfaji! Quia, at! <br>
                 Ducimus dolorem, est asfaji.</p>
        </div>

    </div>

</body>    
<footer>
        <p>Graphel Desarrollo Web, CopyRight © 2024</p>
</footer>
</html>