<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../style/styles.css">
    <link rel="shortcut icon" href="../Assets/images/icon.png">
</head>
<body>
    <header>
        <div class="title">
            <h1>Diseño <span class="blueTitle">Multimedia</span></h1>            
        </div>
        <div class="navigator">
            <nav>
                <a class="inicio-servicios" href="../index.html">Inicio</a>
                <a class="nosotros-servicios" href="nosotros.html">Nosotros</a>
                <a class="servicios-servicios" href="servicios.html">Servicios</a>
                <a class="contacto-servicios" href="contacto.html">Contacto</a>
            </nav>
        </div>
    </header>

    <div class="subscribe-NOSOTROS">

        <div class="text">
            <h2>Subscríbete a nuestro boletín</h2>  
        </div>

        <div class="email">
            <input class="input" type="text" name="email" placeholder="Ingresa tu Email..." required>
            <button class="btn" type="submit">Subscríbete</button>
        </div>

    </div>

    <div class="servicios-content-padre">
        <div class="div-1-textos">
                <h2>Servicios</h2>
            <div class="div-1-texto-1">
                <h3>Diseño Web</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Aliquam delectus voluptates ducimus. Iusto repellendus dolores odio, 
                    fugit inventore. <br> <br>
                    Precio: $300.000 - $1'000.000
                </p>
            </div>

            <div class="div-1-texto-2">
                <h3>Desarrollo Web</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Aliquam delectus voluptates ducimus. Iusto repellendus dolores odio, 
                    fugit inventore. <br> <br>
                    Precio desde: $1-000.000
                </p>
            </div>

            <div class="div-1-texto-3">
                <h3>Hosting Web</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Aliquam delectus voluptates ducimus. Iusto repellendus dolores odio, 
                    fugit inventore. <br> <br>
                    Precio: $300.000
                </p>
            </div>

        </div>
        
        <div class="div-2">
            <div class="que-hacemos">
                <h2>Que Hacemos</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Quibusdam dignissimos excepturi ad voluptatem numquam velit, 
                    quis provident tempora laborum dolorem distinctio aperiam quod vel 
                    perferendis, placeat doloribus saepe modi consectetur.
                </p>
            </div>
        </div>

    </div>

</body> 

<footer>
        <p>Graphel Desarrollo Web, CopyRight © 2024</p>
</footer>

</html>